 /*
    Tipografia
*/
        
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


/*
    Estilos Generales
*/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
}

/*Barra de navegacion*/

.navbar{
    width: 100%;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
}

.navbar a{
    font-weight: bolder;
    font-size: 1.5rem;
    color: rgb(137, 182, 25);
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.navbar p{
    font-weight: bold;
    margin-top: 10px;
    font-size: 2.5rem;
    margin-left: -40px;
    font-family: 'Oswald', sans-serif;
}

.navbar a i{
    font-size: 3rem;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

/*Formulario de Registro*/

.formInicio{
   height: 350px; 
   padding: 10px;
   background-color: #ddffc1;
   color: black;
}

.formInicio .contenedor{
    max-width: 600px;
    text-align: center;
}

.formInicio .campo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    padding: 0px 40px 0px 40px;
    font-size: 1.1rem;
}

.campo label{
    width: 50%;
    text-align: start;
    font-weight: bold;
}

.campo input, 
.campo select{
    width: 50%;
    text-align: center;
    background-color: white;
    height: 30px;
    border: none;
    border-radius: 20px;
}

.formInicio .boton{
    width: 28%;
    height: 30px;
    background-color: white;
    color: #000;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 20px;
    opacity: 0.9;
}

.formInicio .boton:hover{
    opacity: 1;
}

.formInicio a{
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
}

.formInicio a:hover{
    text-decoration: underline;
}

/*
    Pie de Pagina
*/

footer{
    min-height: 250px;
    color: #0a0a23;
    background-color: white;
}

.footer-logo{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 50px;
    transition: all 0.2s ease-in;
    margin-top: -10px;
}

.iconos-redes-sociales i{
    color: black;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{
    border: 2px solid rgb(137, 182, 25);
}

.iconos-redes-sociales a:hover i{
    color:  rgb(137, 182, 25);
}

.derechos-de-autor{
    text-align: center;
    font-size: 15px;
    color: rgb(27, 75, 0);
    padding: 20px;
}

/*Adaptable o Responsiva*/

@media screen and (max-width:600px){
    .navbar-brand{
       display: none; 
    }
    .navbar p{
        font-size: 1.5rem;
        margin-left: 19%;
        font-weight: bold;
    }
    .navbar a{
        margin-left: 0px;
    }

    .formInicio{
        height: 450px;
    }

    .footer-texto{
        font-size: 1.4rem;
    }
}